*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

#title{
    text-align: center;
    margin:  0;
    font-weight: 800;
    padding: 2% 0;
    font-size: 2.5em;
}

#survey-form{
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
}

/*#description{
    width: 80%;
    height: 20%;
}
*/

#description{
    text-align: center;
    padding-top: 2%;
    font-size: 1.4em;
}

.name{
    text-align: center;
    margin: 2% 0;
}

.name label{
    font-size: 1.2em;
    margin-left: 15%;

}

.name input{
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left: 2%;
    padding-right: 6%;
    margin-left: 2%;
}

.age{
    text-align: center;
    margin: 2% 0;
}

.age label{
    font-size: 1.2em;
    margin-left: 6%;

}

.age input{
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    padding-left: 2%;
    padding-right: 6%;
    margin-left: 2%;
}

.select{
    
}

.select label{
    font-size: 1.2em;
    margin-left: 14%;
}

.select select{
    margin-left: 1.9%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.radio{
    display: grid;
    grid-template-columns: 46.5% 20%;
    margin: 2% auto;
    font-size: 1.2em;
}

.radiobuttons{
    margin-right: 5%;
    margin-left: 12%;

}

.radiobuttons div{
    margin: 6% 0;
}

.radiotitle{
    text-align: right;
    margin-left: 20%;
}

.radiotitle label{
}

.select2{
    margin: 2% 0;
}

.select2 label{
    font-size: 1.2em;
    margin-left: 24.5%;
}

.select2 select{
    margin-left: 2.3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.checkbox{
    display: grid;
    grid-template-columns: 42% 25%;
    font-size: 1.2em;
    margin-left: 10%;
}

.checkboxtitle{
    margin-right: 3%;
    text-align: right;
    margin-left: 10%;
}

.checkboxtitle label{
}

.checkboxbuttons{
    padding-left: 5%;
}

.checkboxbuttons div{
    margin: 2% 0;
}


.textarea{
    display: grid;
    grid-template-columns: 48% 40%;
    font-size: 1.3em;
    margin: 2% 0;
}

.textarea-label{
    margin-left: 46%;

}

.textarea-box{
    margin-left: 1%;
}

.button{
    text-align: center;
    margin: 2% 0;
}

button{
    padding: 1% 3% 1% 3%;
    background-color: lightskyblue;
    border-radius: 5px;
}